<nav class="navbar navbar-default" role="navigation">
  <div class="container-fluid">
    <!-- Brand and toggle get grouped for better mobile display -->
    <div class="navbar-header">
       <ul class="nav navbar-nav">
          <li><a class="navbar-brand" href="#">007 Office</a></li>
          <li><a class="navbar-brand" href="#">我的007</a></li>
          <li><a class="navbar-brand" href="#">我的博客</a></li>
    </div>
    <div class="collapse navbar-collapse" id="bs-example-navbar-collapse-1">
            <ul class="nav navbar-nav navbar-right">
                <li>
                    <%= link_to("登录", '#') %>
                </li>
            </ul>
    </div>
  </div>
</div>
